<html>
<head>
<style> 
.div1 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid blue;
  box-sizing: border-box;
}

.div2 {
  width: 300px;
  height: 100px;
  padding: 50px;  
  border: 1px solid red;
  box-sizing: border-box;
}

.div3 {
    width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid green;
    box-sizing: border-box;
}
</style>
</head>
<body>

<h1>Successful Login, Welcome</h1>
<br>
<br>
<br>

<div class="div1">All Post</div>
<a type="button" href="{% url 'allpage' %}">Click Me!</a>
<br>
<br>
<div class="div2">Create Post</div>
<a type="button" href="{% url 'createpage' %}">Click Me!</a>
<br>
<br>
<div class="div3">My Post</div>
<a type="button" href="{% url 'mypage' %}">Click Me!</a>
<script>
  function demo(){
    window.location.href = "{% url 'createpage' %}"
  }
</script>
<br></br>
<br></br>
<a type="button" href="{% url 'logout' %}">Logout</a>

</body>
</html>
