<h2>Successful Login </h2>
<html>
<head>
<title>Blog Site</title>
</head>
<body>
<div style="width: 800px; float:left; height:400px; background:gray; margin:10px">
<h2 style="text-align: center;">All Blogs</h2>
<div class="wrapper">
    <button class="button">Click Here</button>
    </div>
</div>
<div style="width: 800px; float:left; height:400px; background:yellow; margin:10px">
<h2 style="text-align: center;">My Blogs</h2>
<div class="wrapper">
    <button class="center">Click Here</button>
</div>
</div>
</body>
</html>