{% extends 'base.html' %}
{% block title %} Delete blog post {% endblock %}

{% block content %}

{% if user.is_authenticated %}
	<h1>Delete Post...</h1>
	<br/><br/>
	<h3>Delete: {{ post.title }}</h3>
	<br/>
	<div class="col-md-8">
		<div class="form-group">
			<form method="POST">
				{% csrf_token %}
				<strong>Are you sure ?! </strong><br/><br/><br/>
				<button class="btn btn-info rounded-lg">Delete Post</button>

		</div>
	</div>

{% else %}
You're not allowed here! 
{% endif %}


{% endblock %}